html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.fa-btn {
    margin-right: 6px;
}

.task-title {
    font-size: 22px;
    text-transform: uppercase;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.form-control {
    width: 60%;
    margin-top: 12px;
}

.user-title {
    display: block;
    margin: auto;
    text-align: center
}

.user-item {
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}

#load {
    position: relative;
}

input[type=file] {
    display: inline-block;
}

.task-wrapper {
    padding: 10px;
    margin-top: 15px;
    border: 1px solid;
    border-color: #d3e0e9;
    background-color: ghostwhite;
}

.task-wrapper h2,
.task-wrapper p {
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    border-color: #d3e0e9;

}

.task-wrapper p {
    text-align: left;
}

.btn-wrapper form {
    display: inline-block;
}

.btn-info {
    float: right;
    clear: both;
}

.edit-btn {
    float: right;
    clear: both;
}

.file-wrapper {
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid;
    border-color: #d3e0e9;
}

.add-article .form-control {
    width: 100%;
}

.new-article {
    text-align: center;
}

.new-article a {
    color: #0d3625;
    text-decoration: none;
}
.article a:hover,
.new-article a:hover {
    color: red;
    transition: .2s;
}

.article {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #d3e0e9;
    text-align: center;
}

.article h2 {
    text-align: center;
}

.article a {
    color: black;
    text-decoration: none;
}
.article-footer{
    text-align: left;
}
.comments{
    margin: 40px 0;
}
#messages {
    border: 1px solid black;
    height: 400px;
    margin-bottom: 8px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 5px;
}
.notifications{
    position: absolute;
    color: red;
    top: 0;
    font-size: 10px;
    left: 46px;
}